<div id="popUpTree" class="page-sidebar resizablePopUp" style="display: none; background: rgb(234, 234, 234); position:fixed; top:500px; margin-left:10px;">
    <a href="javascript:;" class="btn btn-icon-only closePopUp" style="float:right">
        <i class="fa fa-times"></i>
    </a>
    <a href="javascript:;" class="btn btn-icon-only searchPopUp" data-open="0" style="float:right">
        <i class="fa fa-search"></i>
    </a>
    <ul>
        <li class="heading" id="beforeTree">
            <h3 class="uppercase" style="cursor:move">IVR Project Design</h3>
        </li>
        <li id="treeHolder">

        </li>
    </ul>
   
</div>

