<!--<div id="popUpTree" class="resizablePopUp" style="margin-left: 10px; width: 500px; height: 500px; display: none; background: white; position:fixed; top:500px;" >
    <li class="heading" id="beforeTree">
        <h3 class="uppercase">IVR Project Design</h3>
    </li>
    <li id="treeHolder">

    </li>

</div>-->

